<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
</head>

<body>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Serviços</h3>
                        <ul>
                            <li><a href="https://www.avanade.com/pt-br/solutions">Soluções</a></li>
                            <li><a href="https://www.avanade.com/pt-br/technologies">Tecnologias e Capacidades</a></li>
                            <li><a href="https://www.avanade.com/pt-br/clients">Estudos de Caso</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Políticas</h3>
                        <ul>
                            <li><a href="https://www.avanade.com/pt-br/utility/privacy-policy">Declaração de Privacidade</a></li>
                            <li><a href="https://www.avanade.com/pt-br/utility/code-of-business-ethics">Código de Ética Empresarial</a></li>
                            <li><a href="https://www.avanade.com/pt-br/thinking">Reflexão</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contato</h3>
                        <ul>
                            <li><a href="https://www.avanade.com/pt-br/contact?ref=https://www.avanade.com/pt-br">Enviar Email</a></li>
                            <li><a href="https://www.avanade.com/pt-br/contact">Todos os Locais</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <a target="_blank" href="https://www.facebook.com/AvanadeBrasil?fref=ts"><i class="icon ion-social-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/avanadeinc"><i class="icon ion-social-twitter"></i></a>
                        <a target="_blank" href="https://www.youtube.com/c/Avanade"><i class="icon ion-social-youtube"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/avanade"><i class="icon ion-social-linkedin"></i></a>
                        <p class="copyright">Avanade</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>